.wy-side-nav-search, .wy-nav-top {
  /* background: #f37a1f; */
  background: #233038;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

/* a {
  color: #f37a1f;
} */

/* a .icon {
  color: #f37a1f;
} */
